.info-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body {
    height: 200vh; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
}

console.log {
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.voting-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.like-button, .dislike-button {
    padding: 5px 10px;
    cursor: pointer;
}

.like-button {
    background-color: #0077FF;
    color: #fff;
}

.dislike-button {
    background-color: #FF0000;
    color: #fff;
}